.highlight-clean {
  padding-top: 50px;
}

.highlight-clean h2 {
  margin-bottom: 25px;
}

.highlight-clean p {
  color: #333;
}

.highlight-clean .intro {
  max-width: 700px;
  margin: 0px auto 0px;
}
