{% extends 'base.html' %}

{% block content %}
<section class="highlight-clean wrapper flex-grow-1">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Datenschutz</h2>
            <p>Diese Seite wird verwendet, um Website-Besucher über unsere Richtlinien bezüglich der Erfassung, Verwendung und Offenlegung personenbezogener Daten zu informieren.</p>
            <p>Wenn Sie unseren Service nutzen, stimmen Sie der Erfassung und Verwendung von Informationen im Zusammenhang mit dieser Richtlinie zu. Die von uns gesammelten personenbezogenen Daten werden zur Bereitstellung und Verbesserung des Dienstes verwendet. Wir werden Ihre Informationen nur wie in dieser Datenschutzrichtlinie beschrieben verwenden.</p>
            <h4>Informationserfassung und -nutzung</h4>
            <p>Für eine bessere Erfahrung bei der Nutzung unseres Service können Sie aufgefordert werden, uns bestimmte personenbezogene Daten zu übermitteln, einschließlich, aber nicht beschränkt auf Ihren Namen, Ihre Telefonnummer und Ihre E-Mail Adresse. Die Informationen, die wir sammeln, werden verwendet, um Sie zu kontaktieren oder zu identifizieren.</p>
            <h4>Logdaten</h4>
            <p>Wir möchten Sie darüber informieren, dass wir bei jedem Besuch unseres Dienstes Informationen sammeln, die Ihr Browser an uns sendet und die als Logdaten bezeichnet werden. Diese Logdaten können Informationen wie die IP-Adresse (Internet Protocol) Ihres Computers, die Browserversion, die von Ihnen besuchten Seiten unseres Service, die Uhrzeit und das Datum Ihres Besuchs, die auf diesen Seiten verbrachte Zeit und andere Statistiken enthalten.</p>
            <h4>Cookies</h4>
            <p>Cookies sind Dateien mit geringen Datenmengen, die üblicherweise als anonyme eindeutige Kennung verwendet werden. Diese werden von der von Ihnen besuchten Website an Ihren Browser gesendet und auf der Festplatte Ihres Computers gespeichert.</p>
            <p>Unsere Website verwendet diese "Cookies", um Informationen zu sammeln und unseren Service zu verbessern. Sie können diese Cookies entweder akzeptieren oder ablehnen und wissen, wann ein Cookie an Ihren Computer gesendet wird. Wenn Sie unsere Cookies ablehnen, können Sie möglicherweise einige Teile unseres Service nicht nutzen.</p>
            <h4>Dienstleister</h4>
            <p>Wir können aus folgenden Gründen Unternehmen und Einzelpersonen von Drittanbietern beschäftigen:</p>
            <ul>
                <li>Um unseren Service zu erleichtern.</li>
                <li>Den Service in unserem Namen zu erbringen.</li>
                <li>Dienstbezogene Dienstleistungen zu erbringen.</li>
                <li>Um uns bei der Analyse zu unterstützen, wie unser Service genutzt wird.</li>
            </ul>
            <p>Wir möchten unsere Servicebenutzer darüber informieren, dass diese Dritten Zugriff auf Ihre persönlichen Daten haben. Der Grund ist, die ihnen übertragenen Aufgaben in unserem Namen auszuführen. Sie sind jedoch verpflichtet, die Informationen nicht weiterzugeben oder für andere Zwecke zu verwenden.</p>
            <h4>Sicherheit</h4>
            <p>Wir schätzen Ihr Vertrauen in die Bereitstellung Ihrer personenbezogenen Daten und sind daher bestrebt, wirtschaftlich akzeptable Schutzmaßnahmen zu ergreifen. Denken Sie jedoch daran, dass keine Methode der Übertragung über das Internet oder der elektronischen Speicherung zu 100% sicher und zuverlässig ist, und wir können die absolute Sicherheit nicht garantieren.</p>
            <h4>Links zu anderen Seiten</h4>
            <p>Unser Service kann Links zu anderen Websites enthalten. Wenn Sie auf einen Link eines Drittanbieters klicken, werden Sie zu dieser Seite weitergeleitet. Bitte beachten Sie, dass diese externen Seiten nicht von uns betrieben werden. Wir empfehlen Ihnen daher dringend, die Datenschutzbestimmungen dieser Websites zu lesen. Wir haben keine Kontrolle über Inhalte, Datenschutzrichtlinien oder Praktiken von Websites oder Diensten Dritter und übernehmen keine Verantwortung dafür.</p>
            <h4>Datenschutz für Kinder</h4>
            <p>Unsere Dienste richten sich nicht an Personen unter 13 Jahren. Wir erfassen wissentlich keine personenbezogenen Daten von Kindern unter 13 Jahren. Falls wir feststellen, dass ein Kind unter 13 Jahren uns personenbezogene Daten zur Verfügung gestellt hat, löschen wir diese umgehend von unseren Servern. Wenn Sie Elternteil oder Erziehungsberechtigter sind und wissen, dass Ihr Kind uns personenbezogene Daten übermittelt hat, setzen Sie sich bitte mit uns in Verbindung, damit wir die erforderlichen Maßnahmen ergreifen können.</p>
            <h4>Änderungen dieser Datenschutz</h4>
            <p>Wir können unsere Datenschutzrichtlinie von Zeit zu Zeit aktualisieren. Wir empfehlen Ihnen daher, diese Seite regelmäßig auf Änderungen zu überprüfen. Wir werden Sie über Änderungen informieren, indem wir die neue Datenschutzrichtlinie auf dieser Seite veröffentlichen. Diese Änderungen werden sofort wirksam, nachdem sie auf dieser Seite veröffentlicht wurden.</p>
            <h4>Kontaktieren Sie uns</h4>
            <p>Wenn Sie Fragen oder Anregungen zu unseren Datenschutzbestimmungen haben, zögern Sie nicht, uns zu kontaktieren.</p>
        </div>
    </div>
</section>
{% endblock %}
