{% extends 'base.html' %}

{% block content %}
<div class="tabs wrapper flex-grow-1">
    <ul class="nav nav-tabs nav-fill" role="tablist" id="myTab">
        <li class="nav-item" role="presentation"><a class="nav-link text-truncate tab-link active" role="tab" data-bs-toggle="tab" id="nachrichtentab1" href="#tab-1">Alle Nachrichten</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link text-truncate tab-link" role="tab" data-bs-toggle="tab" id="nachrichtentab2" href="#tab-2">Job Empfehlungen</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link text-truncate tab-link" role="tab" data-bs-toggle="tab" id="nachrichtentab3" href="#tab-3">Weiterbildungen</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link text-truncate tab-link" role="tab" data-bs-toggle="tab" id="nachrichtentab4" href="#tab-4">Private Nachrichten</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="tab-1">
            <div class="container"><input type="search" class="message-search" placeholder="Nachrichten durchsuchen...">
                {% for message in userMessages %}
                <div id="user_message{{ message.id }}" class="d-flex message">
                    <div class="profile"><i class="fas fa-user fa-lg"></i></div>
                    <div class="content">
                        <a onclick="userMessageReply(this)">
                            <h3 class="message-title">{{ message.subject }}&nbsp;<span class="message-from">@ {{ message.category }}</span><span class="float-end message-time">{% if message.type == 'recruiter' %}Erhalten am: {% elif message.type == 'user' %}Gesendet am: {% endif %}{{ message.date.strftime('%d.%m.%Y %H:%M') }}</span></h3>
                            <p class="message-content">{{ message.message }}</p>
                            <input type="hidden" name="recruiter_id" value="{{ message.recruiter_id }}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-2">
            <div class="container"><input type="search" class="message-search" placeholder="Nachrichten durchsuchen...">
                {% for message in userMessages %}
                {% if message.category == 'Job Empfehlungen' %}
                <div id="user_message{{ message.id }}" class="d-flex message">
                    <div class="profile"><i class="fas fa-user fa-lg"></i></div>
                    <div class="content">
                        <a onclick="userMessageReply(this)">
                            <h3 class="message-title">{{ message.subject }}&nbsp;<span class="message-from">@ {{ message.category }}</span><span class="float-end message-time">{% if message.type == 'recruiter' %}Erhalten am: {% elif message.type == 'user' %}Gesendet am: {% endif %}{{ message.date.strftime('%d.%m.%Y %H:%M') }}</span></h3>
                            <p class="message-content">{{ message.message }}</p>
                            <input type="hidden" name="recruiter_id" value="{{ message.recruiter_id }}">
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-3">
            <div class="container"><input type="search" class="message-search" placeholder="Nachrichten durchsuchen...">
                {% for message in userMessages %}
                {% if message.category == 'Weiterbildungen' %}
                <div id="user_message{{ message.id }}" class="d-flex message">
                    <div class="profile"><i class="fas fa-user fa-lg"></i></div>
                    <div class="content">
                        <a onclick="userMessageReply(this)">
                            <h3 class="message-title">{{ message.subject }}&nbsp;<span class="message-from">@ {{ message.category }}</span><span class="float-end message-time">{% if message.type == 'recruiter' %}Erhalten am: {% elif message.type == 'user' %}Gesendet am: {% endif %}{{ message.date.strftime('%d.%m.%Y %H:%M') }}</span></h3>
                            <p class="message-content">{{ message.message }}</p>
                            <input type="hidden" name="recruiter_id" value="{{ message.recruiter_id }}">
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-4">
            <div class="container"><input type="search" class="message-search" placeholder="Nachrichten durchsuchen...">
                {% for message in userMessages %}
                {% if message.category == 'Skillmatching' %}
                <div id="user_message{{ message.id }}" class="d-flex message">
                    <div class="profile"><i class="fas fa-user fa-lg"></i></div>
                    <div class="content">
                        <a onclick="userMessageReply(this)">
                            <h3 class="message-title">{{ message.subject }}&nbsp;<span class="message-from">@ {{ message.category }}</span><span class="float-end message-time">{% if message.type == 'recruiter' %}Erhalten am: {% elif message.type == 'user' %}Gesendet am: {% endif %}{{ message.date.strftime('%d.%m.%Y %H:%M') }}</span></h3>
                            <p class="message-content">{{ message.message }}</p>
                            <input type="hidden" name="recruiter_id" value="{{ message.recruiter_id }}">
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-message">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-blackbar"></div>
            <div class="modal-header">
                <h4 class="modal-title">Private Nachricht</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('message') }}" method="POST" onkeydown="return event.key != 'Enter';" novalidate>
                    <input id="hidden_user_id" type="hidden" name="hidden_user_id" value="">    
                    <input id="hidden_recruiter_id" type="hidden" name="hidden_recruiter_id" value="">
                    <div class="d-flex message message-details">
                        <div class="profile"><i class="fas fa-user fa-lg"></i></div>
                        <div class="content">
                            <h3 id="message_header" class="message-title"><span id="message_category" class="message-from"></span><span id="message_time" class="float-end message-time"></span></h3>
                            <p id="message_body" class="message-content"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="1" placeholder="Betreff" name="contact-subject"></textarea>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Nachricht" name="contact-message"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox_antworten" onchange="toggleButton(&#39;antwortenbutton&#39;)" required=""><label class="form-check-label" for="checkbox_antworten">Ich bestätige, dass meine Daten zur Kontaktaufnahme freigegeben werden.</label></div>
                    </div>
                    <div class="mb-3">
                        <button id="antwortenbutton" class="btn btn-primary d-block w-100 disabled" type="submit" name="messageType" value="userReply">Nachricht senden</button>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-primary small-button" type="button" data-bs-dismiss="modal">Schliessen</button></div>
        </div>
    </div>
</div>
{% endblock %}
